<?xml version='1.0' encoding='UTF-8'?>
<Configuration status="INFO">
    <Properties>
        <Property name="basePath">./target/logs</Property>
    </Properties>
    <Appenders>
        <RollingFile name="fileLogger" filePattern="${basePath}/library-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <Pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%c{1}] %M - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
        </RollingFile>
        <Console name="consoleLogger" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%c{1}] %M - %m%n</Pattern>
            </PatternLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="fileLogger" level="INFO"/>
            <AppenderRef ref="consoleLogger" level="INFO"/>
        </Root>
    </Loggers>
</Configuration>
